@define-color background #2E3440;
@define-color foreground #ECEFF4;

* {
    font-family: CaskaydiaMono Nerd Font;
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @background;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @background;
    margin-left: 1rem;
}

#workspaces button {
    color: @foreground;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @foreground;
    border-radius: 1rem;
}

#workspaces button.occupied {
    border-bottom: 2px solid @foreground;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    padding-bottom: 0.2rem;
}

#custom-music,
#network,
#battery,
#tray,
#bluetooth,
#cpu,
#clock,
#pulseaudio,
#custom-brightness {
    background-color: @background;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#pulseaudio {
    color: @foreground;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#custom-music {
    color: @foreground;
    border-radius: 1rem;
}

#bluetooth {
    color: @foreground;
}

#cpu,
#custom-brightness,
#clock,
#tray {
    color: @foreground;
}

#network {
    color: @foreground;
}

#battery {
    color: @foreground;
    border-radius: 0rem 1rem 1rem 0rem;
    margin-right: 1rem;
}

tooltip {
    background-color: alpha(@background, 0.9);
    padding: 20px;
    margin: 0px;
    border-radius: 1rem;
}

tooltip label {
    color: @foreground;
}
